
.content {
  display: inline-block;
  margin-bottom: 1rem;
}
.list{
  display: flex;
  flex-direction: column;
  flex-basis: fit-content;
}

.content h1 {
  margin-top: 1.75rem;
}

.content p {
  margin-top: 1.5rem;
}
